.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  height: 64px;
  background-color: #d8f3dc;
}

.logo {
  width: auto;
  height: 40px;
  margin-top: 8px;
}
